.main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    
    
}
.container{
    /* border: 2px solid yellow; */
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.first{
    /* border: 2px solid black; */
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.mentor{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width :18rem;
    
   
    
}
.profile{
    /* border: 2px solid blue; */
    width: 10rem;
    text-align: center;
}

.logo{
    width: 14rem;
    mix-blend-mode: multiply;
}
.person{
    border-radius: 100%;
}

@media screen and (max-width:510px) {
    .main{
        flex-direction: column;
        margin-top: 4rem;
      
    }
    .mentor{
        width: 30rem;
        
    }
    .container .logo{
        width: 30rem;
        height: 7rem;
    }
    .profile{
       
        width: 20rem;
        font-size: 2rem;
    }
    .person{
        width: 7rem;
        height: 7rem;
    }
    .profile h6{
        font-size: 2rem;
    }
    .first p{
        font-size: 2rem;
        width: 25rem;
    }
  
}

