.container{
    /* border: 2px solid red; */

    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container h1{
    font-weight: 900;
    font-size: 3rem;
}
.container p{
    font-size: 1.5rem;
    font-weight: 500;
}
.secondPara{
    text-align: center;
}
span{
    background-color: yellow;
}
.lastPara{
   
    font-size: small;
    
}
.button{
  
    width: 12rem;

}

