.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}

img{
    mix-blend-mode: multiply;
    height: 4rem;
}
.first{
    
    display: flex;
 
    justify-content: space-around;
    align-items: center;
    width: 50rem;
}

@media screen and (max-width: 762px) {
    html{
        font-size: 8px;
    }
    .main{
        margin-top: 25rem;
    }
}
@media screen and (max-width: 475px){
  html{
    font-size: 6px;
  }
  img{
    height: 2rem;
  }
}